body {
    background-color: lightblue;
}

#center {
    text-align: center;
}
.center {
  text-align: center;
}


#right {
  text-align: right;
  margin-top: -23px;
}

h2 {
  color: steelblue;
}

.column {
  width: 80px;
  background-color: steelblue;
  flex-direction: column-reverse;
  padding-top: 1mm;
  padding-bottom: 1mm;
  margin: 10px;
  border-radius: 25px;
}

.piece {
  height: 50px;
  width: 50px;
  background: ghostwhite;
  border-width: 2px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;

}


#board {
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: baseline;
  justify-content: center;
  margin-top: 20px;
}

table, th, td {
  background-color: ghostwhite;
  border: 1px solid black;
}

#rules {
  background-color: ghostwhite;
  width: 500px;
  border: 3px solid steelblue;
  text-align: justify;
  margin: auto;
  padding: 5px;
  cursor: default;
}


.hidden {

  display: none;

}


table.classificação { width:300px; border-collapse: collapse; }
  .classificação th, .classificação td { padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: steelblue;
  color: white; }
  .classificação thead { background-color:lightblue; }
  .classificação tbody { font-style: italic; }